modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]
run = "git submodule update --init && pnpm install && npm run build && pnpm test:node && pnpm test:browser"

[nix]
channel = "stable-23_11"

[unitTest]
language = "nodejs"

[[ports]]
localPort = 5900
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 80

[[ports]]
localPort = 8001
externalPort = 3000
